:root {
}

.ButtonTower {
    font-size: 32px;
    left: 8%;
    width: 80%;
    bottom: 0;
    top: 16px;
}

.TitleScroll {
    font-size: 32px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

.Control {
}
