:root {
}

.ButtonTower {
    font-size: 32px;
    left: 8%;
    width: 80%;
    bottom: 0;
    top: 16px;
    -unity-font-style: normal;
}

.TitleScroll {
    font-size: 32px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
}

.Control {
}

.ButtonMAP {
    font-size: 32px;
    width: 80%;
    -unity-font-style: normal;
}

.ButtonMain {
    font-size: 32px;
    width: 100%;
    -unity-font-style: normal;
    background-color: rgb(0, 25, 255);
}

.Title {
    font-size: 48px;
    -unity-font-style: bold;
    -unity-text-align: upper-center;
    color: rgb(0, 25, 255);
}

.PlayerVariable {
    font-size: 28px;
}
